<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.4/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheResult="false"
         requireCoverageMetadata="true"
         beStrictAboutCoverageMetadata="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTestsThatDoNotTestAnything="false"
         colors="true"
         failOnRisky="true"
         failOnWarning="true"
>
    <testsuites>
        <testsuite name="unit">
            <directory>Tests/Unit</directory>
        </testsuite>
    </testsuites>

    <source restrictNotices="true" restrictWarnings="true" ignoreIndirectDeprecations="true">
        <include>
            <directory>Classes</directory>
        </include>
    </source>

    <php>
        <ini name="display_errors" value="1"/>
    </php>
</phpunit>
